
.loading {
  margin: 20px;
  background-color: #ffffff;
  background-image: url("https://i.gifer.com/ZZ5H.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-position-x: 95%;
  background-repeat: no-repeat;
}

input:focus {
  border:none;
}

input::before {
  border:none;
}

input::after {
  border:none;
}