@font-face {
  font-family: 'Barlow';
  font-weight: 200;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 100;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 300;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 800;
  font-display: swap;
  src: local('Barlow'), url('/fonts/Barlow-ExtraBold.ttf') format('truetype');
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

#universe-canvas {
  z-index: 0;
}

*:root {
  --scrollbar-color: #ffffff33;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 40%;
  max-height: 60%;
}

*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background: var(--scrollbar-color);
  width: 8px;
  border-radius: 0px;
}

/* Works on firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }
}
